{% extends 'base.html' %} {% load static %} {% block content %}

<section
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div
    class="d-flex flex-column align-items-center p-4 gap-3 rounded form-bg-container"
  >
    <h1>Insertar usuario</h1>
    <form
      action=""
      class="d-flex flex-column gap-3"
      style="width: 500px"
      method="post"
    >
      {% csrf_token %} {{form}}
      <a
        href="{% url 'userManagement' %}"
        class="btn back-button w-100"
        >Atrás</a
      >
      <input
        type="submit"
        class="btn btn-primary w-100"
        value="Aceptar"
      />
    </form>
  </div>
</section>
{% endblock content %}
