{% extends 'baseA.html' %}
{% load static%}
{% block content %}

<section class="container my-4 d-flex justify-content-between">
  <div class="d-flex gap-2">
    <h2 class="fw-bold">Gestion de usuarios</h2>
  </div>
  <a
    href="{% url 'createUser' %}"
    class="text-decoration-none btn btn-primary
    style="color: black"
    >Agregar usuario<i class="fa-solid fa-user mx-2"></i
  ></a>
</section>

<section class="container my-5 w-100 w-md-75">
  <div class="card py-3">
    <div class="card-body">
      <table id="table_id" class="display table table-striped">
        <thead class="table-light">
          <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <td>Acceso</td>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.username}}</td>
            <td>********</td>
            <td>
              {{user.category}}
            </td>
            {% if request.user.id == user.id %}{% endif %}
            <td>
              <div class="d-flex gap-4">
                <a
                  href="{% url 'deleteUser' user.id %}"
                  class="btn btn-primary w-25 {% if request.user.id == user.id %} disabled {% endif %}"
                >
                  <i class="fa-solid fa-trash"></i>
                </a>
                <a
                  href="{% url 'editUser' user.id %}"
                  class="btn btn-secondary w-25 {% if request.user.id == user.id %} disabled {% endif %}"
                >
                  <i class="fa-solid fa-pencil"></i>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>


{% endblock %}