{% extends 'base.html' %} {% load static %} {% block content %}

<div
  style="
    background-image: url(../../static/assets/bg-sgh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <section
    class="d-flex align-items-center justify-content-center"
    style="height: 100vh"
  >
    <div
      class="d-flex flex-column align-items-center p-5 gap-3 rounded form-bg-container"
    >
      <h1>Resgistro en el sistema</h1>
      <form
        action=""
        class="d-flex flex-column gap-3"
        style="width: 500px"
        method="post"
      >
        {% csrf_token %} {{form}}
        <input
          type="submit"
          class="btn btn-primary w-100 mt-3"
          value="Aceptar"
        />
      </form>
      <a class="mt-3" href="{% url 'login' %}"
        >¿Ya tienes una cuenta? Iniciar sesión</a
      >
    </div>
  </section>
</div>

{% endblock content %}
