{% extends 'base.html' %} {% load static %} {% block content %}

<section class="container pt-4">
  <div class="d-flex justify-content-between">
    <h2 class="fw-bold">Quejas y sugerencias</h2>
    <a
      href="{% url 'newCSuggestion' %}"
      class="text-decoration-none gbutton"
      >Nueva queja o sugerencia</a
    >
  </div>
  <section class="container my-5 w-100 w-md-75">
    <div class="d-flex">
      <p class="fw-bold col-4">A nombre de:</p>
      <p class="fw-bold col-1 text-center">Habitacion</p>
      <p class="fw-bold col-3 text-center">Queja o sugerencia</p>
    </div>
    <div class="accordion" id="accordionExample">
      {% for csdata in cs %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{csdata.id}}">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{csdata.id}}"
            aria-expanded="true"
            aria-controls="collapse{{csdata.id}}"
          >
            <div class="col-4">
              {{csdata.name}} {{csdata.lastName}}
            </div>
            <div class="col-1 text-center">{{csdata.roomNumber}}</div>
            <div class="col-3 text-center">{{csdata.info}}</div>
          </button>
        </h2>
        <div
          id="collapse{{csdata.id}}"
          class="accordion-collapse collapse"
          aria-labelledby="heading{{reservation.id}}"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="w-100 d-flex gap-5">
              <a
                href="{% url 'deleteCSuggestion' csdata.id %}"
                class="btn btn-primary"
                style="width: 100%"
                >Eliminar</a
              >
              <a
                href="{% url 'editCSuggestion' csdata.id %}"
                class="btn btn-danger"
                style="width: 100%"
                >Editar</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</section>

{% endblock content %}
