{% extends 'base.html' %} {% load static %} {% block content %}

<section class="container pt-4">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center gap-3">
      <a
        href="{% url 'home' %}"
        class="text-decoration-none"
        style="color: black"
        ><i
          class="fa-solid fa-arrow-left rounded-circle p-3 back-arrow-button"
        ></i
      ></a>
      <!-- <i
        class="fa-solid fa-arrow-left bg-success p-3 rounded-circle back-arrow-button"
      ></i> -->
      <h2 class="fw-bold">Quejas y sugerencias</h2>
    </div>
    <a
      href="{% url 'newCSuggestion' %}"
      class="text-decoration-none gbutton"
      >Nueva queja o sugerencia</a
    >
  </div>
  <section class="container my-5 w-100 w-md-75">
    <div class="card py-3">
      <div class="card-body">
        <table id="table_id" class="display table table-striped">
          <thead class="table-light">
            <tr>
              <th>A nombre de:</th>
              <th>Habitacion</th>
              <th>Queja o sugerencia</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for csdata in cs %}
            <tr>
              <td>{{csdata.name}}</td>
              <td>{{csdata.roomNumber}}</td>
              <td>{{csdata.info}}</td>
              <td>
                <div class="d-flex gap-4">
                  <a
                    href="{% url 'deleteCSuggestion' csdata.id %}"
                    class="btn btn-primary w-50"
                    >Eliminar
                    <i class="fa-solid fa-trash"></i>
                  </a>
                  <a
                    href="{% url 'editCSuggestion' csdata.id %}"
                    class="btn btn-danger w-50"
                    >Editar
                    <i class="fa-solid fa-pencil"></i>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>

{% endblock content %}
