{% extends 'base.html' %} {% load static %} {% block content %}

<section class="container pt-4">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center gap-3">
      <a
        href="{% url 'home' %}"
        class="text-decoration-none"
        style="color: black"
        ><i
          class="fa-solid fa-arrow-left rounded-circle p-3 back-arrow-button"
        ></i
      ></a>
      <!-- <i
        class="fa-solid fa-arrow-left bg-success p-3 rounded-circle back-arrow-button"
      ></i> -->
      <h2 class="fw-bold">Quejas y sugerencias</h2>
    </div>
    <a
      href="{% url 'newCSuggestion' %}"
      class="text-decoration-none gbutton"
      >Nueva queja o sugerencia</a
    >
  </div>
  {% include 'complaint_suggestions/csuggestion_list.html' %}
</section>

{% endblock content %}
