<section>
  <div class="d-flex gap-5 justify-content-center mt-5">
    <div class="flex-column-center">
      <p class="d-flex align-items-center gap-3 fw-bold">
        Reservaciones actuales: {{total}}
        <i class="fa-solid fa-calendar-check fa-lg"></i>
      </p>
      <a
        href="{% url 'newReservation' %}"
        class="text-decoration-none gbutton"
        >Nueva Reservacion</a
      >
    </div>
    <div class="flex-column-center">
      <p class="d-flex align-items-center gap-3 fw-bold">
        Total QyS: {{totalCS}}
        <i class="fa-solid fa-house-circle-exclamation fa-lg"></i>
      </p>
      <a
        href="{% url 'csuggestions' %}"
        class="text-decoration-none gbutton"
        >Quejas y Sugerencias</a
      >
    </div>
  </div>
</section>

{% include 'reservations/reservations_list.html' %}
